@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.noto-serif-normal {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-style: normal;
 
}
.inter-secondary{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
/* shared styles */
.style{
    max-width: 1440px;
    margin: 0px auto;
}
.bg-color{
    background-color: #f5faff;
}
.orange-color{
    color: rgb(233, 90, 8);
}
.primary-color{
    color: rgba(0, 0, 0, 0.5);
}
.secondary-color{
    color: rgb(137, 135, 161);
    font-weight: 400;
    
}

.shape{
    margin: 0px 200px;
}

/* nav styles */
.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}


.nav-menu{
    list-style: none;
    display: flex;
    gap: 20px;
    font-size: 1rem;
    font-weight: 400;
}
.home{
    font-weight: 700;
    color: rgb(37, 36, 50);
}

/* banner styles */
.banner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
    
}
.banner-heading{
    font-weight: 700;
    font-size: 3.06rem;
}
.banner-para{
    margin-top: 0px; ;
    font-size: 1.37rem;
}
.banner-image{
    width: 100%;
}
.lover-image{
    width: 100%;
}
/* our plant section */
.plant-title{
    text-align: center;
    margin-top: 40px;
}
.plant-heading{
    font-size: 3.1rem;
    font-weight: 700;
    margin-bottom: 0px;
}
.plant-para{
    font-weight: 1.37rem;
}

/* card styles */
.card{
   
    text-align: center;
}
.image-cards{
    width: 100%;
}
.card-heading{
    font-weight: 500;
    font-size: 1.37rem;
    color: rgb(17, 17, 17);
    margin-bottom: 0px;
}
.card-usd{
    font-weight:700 ;
    font-size: 1.37rem;
    color: rgb(17, 17, 17);
    margin-top: 0px;
}
.card-btn{
    background-color: rgb(233, 90, 8);
    color:rgb(255, 255, 255);
    font-size: 1rem;
    font-weight: 600;
    border: none;
    padding: 26px 50px;
    width: 100%;
}
.plant-card{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-content: center;
    gap: 20px;
    padding:0px 16px;
}
/* plant lover section */
.lover-img-title{
 display: flex;
 justify-content: center;
 gap: 60px;
 margin-top: 120px;
 position: relative;
}
.badge-img{
    position: absolute;
    top:-85px;
    left: 480px;
    z-index: 1;
}
.lover-heading{
    font-weight: 700;
    font-size: 3.12rem;
    color:rgb(0, 0, 0) ;
}
.lover-para{
    font-size: 1.37rem;
}
.badge{
    height:286px ;
    width: 286px;
}
.lover-image{
    width: 100%;
}
.store-image{
    width: 100%;
}
.lover-title{
    width: 100%;
}
/* latest deals styles */
.latest-title{
    text-align: center;
}
.latest-heading{
    font-weight: 700;
    font-size:3.12rem ;
    margin-bottom: 0px;
}
.latest-para{
    font-size: 1.37rem;
}
/* latest img style */
.latest-image{
    display:grid;
    grid-template-areas: "garden field"
    "garden field"
    "tulip field"
    "tulip field";
    gap: 20px;
   
}
.image-left{
    display: grid;
   gap:8px ;
}
.img-heading{
    font-weight: 700;
    font-size: 1.25rem;
     color: white;
    
}
.img-anchor{
    font-size: 1rem;
    font-weight: 600;
    color: white;
    text-align: center;
}
.garden{
    background-image: url(./assets/deal-bloom.png);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    height: 200px;
    border-radius: 10px;
    padding: 26px 50px;
}
.tulip{
    background-image: url(./assets/deal-ana.png);
    background-size: cover;
    height: 200px;
    text-align: center;
    border-radius: 10px;
    padding: 26px 50px;
}
.field{
    background-image: url(./assets/deal-zabo.png);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    border-radius: 10px;
    padding: 26px 50px;
    height: 455px;
}
.field-heading{
    font-weight: 700;
    font-size: 2.5rem;
    color: white;
}

/* colorful section */
.container{
    background-image: url(./assets/news-letter-bg.png);
    text-align: center;
    background-repeat: no-repeat;
    background-size:cover;
    height: 533px;
    margin-top: 30px;
}
/* .color-title{
    padding: 199px 305px;
} */
.color-heading{
    font-size: 3.25rem;
    font-weight: 700;
    color: rgb(255, 255, 255);
    margin-bottom: 0px;
}
.color-title{
    padding-top: 90px;
}
.color{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    width:100%;
   
}
.inputs{
     /* padding-top: 20px;
    padding-bottom: 20px; */
    padding-left: 20px;
    padding-right: 350px; 
    height: 50px;
}
.btn-primary{
    background-color: rgb(233, 90, 8);
    text-align: center;
    color: rgb(255, 255, 255);
    padding: 20px 35px 20px;
    height: 54px;
    border: 1px solid rgb(233, 90, 8);
    font-size: 1rem;
    font-weight: 600;
}

/* footer section styles */
.footer{
    margin-top: 50px;
    display: flex;
    justify-content:space-around;
    /* gap: 110px; */
    padding: 50px 150px;
}
.footer-list{
    list-style: none;
    
}
.footer-incos{
    display: flex;
    justify-content: center;
    gap: 10px;
}

/* responsive style */
@media screen and (max-width:576px){
    .nav{
        display: flex;
        align-items: center;
        justify-content: space-between;
        
    }
    nav>ul{
        gap: 10px;
    }
    .dont-show{
        display: none;
    }
    .banner{
        flex-direction: column-reverse;
        
    }
    .plant-card{
        grid-template-columns: repeat(2, 0.25fr);
        

    }
    .lover-img-title, .latest-image, .footer{
        flex-direction: column;
     }
    .badge{
        display: none;
    }
    .latest-image{
        grid-template-areas: "garden"
        "tulip"
        "field";

    }
    .field{
        height:200px ;
    }
    .color-heading, .field-heading{
        font-size: 20px;
    }
    .inputs{
       padding-left: 10px;
       padding-right: 30px; 
    }
    .btn-primary{
        padding:10px ;
    }
    .container{
        height: 276px;
    }
    .footer{
        justify-content: left;
        padding:0px 0px;
    }
    .footer-list{
        text-align: left;
    }
    .footer-incos{
        justify-content: left;
    }

    
}